.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-86 {
  font-size: 86px;
}

.main {
  color: var(--main);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.secondary {
  color: var(--secondary);
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}