:root {
  --black: #000;
  --main: #9A1414;
  --rose-white: #FFF8F8;
  --main-dark: #8a1414;
  --secondary: #636363;
  --white: #fff;
  --main-alpha: #F6EAEA;
  --dark: #1E1E1E;
  --grey: #b6b6b6;
  --yellow: #F8C544;
}