@import "styles/utils/functions";

.CarouselIndicators {
  margin-top: PixelToRem(32);
  gap: 12px;
  .IndicatorItem {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: var(--grey);
    border-radius: 50%;
  }
  .IndicatorItem[aria-checked="true"] {
    background: var(--main);
    outline: 1px var(--main) solid;
    outline-offset: 4px;
  }
}